:root {
    --primary-stripe-rgb: 240 240 240;
    --secondary-stripe-rgb: 230 230 230;

    --cat-color: 128 128 128;
    --stripe-color: 256 256 256;
    --pattern-color: 70 70 70;
    --paws-color: 256 256 256;
    --first-paw-color: var(--cat-color);
    --second-paw-color: var(--cat-color);
    --third-paw-color: var(--cat-color);
    --forth-paw-color: var(--cat-color);
    --tail-color: var(--cat-color);
    --mouth-color: 0 0 0;
    --eye-color: 0 0 0;
    --belly-color: var(--cat-color);
    --tounge-color: 255 35 95;
    --tounge-line-color: 205 25 70;
    --bowTie-color: 256 256 256;

    --circle-color: 30 30 30;
}

* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* height: 100vh; */
}

.grad1 {
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(#DC981A, #F4B02E);
    width: 100%;
    opacity: 0.8;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.catPattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/cat-pattern.png');
    background-repeat: repeat;
    animation: move 180s infinite linear;
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
}

.grad2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#00000000, #DC981A);
    pointer-events: none;
    z-index: 1;
}

.title {
    font-size: 12vmin;
    width: 100%;
    z-index: 3;
    font-family: "Concert One", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    background-image: none;
    position: absolute;
    top: 0;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pContainer p {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      -45deg,
      rgb(var(--primary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 100%
    );
    animation: move 18s linear infinite;
    background-size: 100px 100px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* text-shadow: 
      1px 1px 2px rgba(255, 255, 255, 0.1),
      -1px -1px 2px rgba(0, 0, 0, 0.1); */
}

#stripe-container {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background-color: #3498db;
    animation: expand 3s forwards ease-out;
}

@keyframes expand {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 200vmax;
        height: 200vmax;
    }
}

#stripe-pattern {
    height: 100%;
    width: 100%;
    background-size: 90px 90px;
    background-image: linear-gradient(
      -45deg,
      rgb(var(--primary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 100%
    );
    box-shadow: inset 0rem 0.5rem 2rem 0.25rem rgb(0 0 0 / 40%);
    animation: move 360s linear infinite;
}

#inventory {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 85vh;
    background-color: rgb(60, 60, 60);
    z-index: 10;
    transition: transform 1s;
    border-radius: 20px;
    box-shadow: 0 0 3rem black;
}

.jumpUp {
    animation: jumpUp var(--precent) forwards;
}

@keyframes jumpUp {
    from {
        top: var(--top);
    }
    to {
        top: 5vh;
    }
}

.jumpDown {
    animation: jumpDown var(--precent) forwards;
}

@keyframes jumpDown {
    from {
        top: var(--top);
    }
    to {
        top: 85vh;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.collection {
    font-size: 8vmin;
    width: 100%;
    z-index: 3;
    font-family: "Concert One", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    background-image: none;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vmin;
}

.collection p {
    margin: 0;
    margin-top: 20px;
}

#inventory i {
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translate(-50%,-50%) scaleX(2);
    color: white;
}

.bump {
    position: absolute;
    left: 50%;
    top: 1%;
    width: 100px;
    height: 50px;
    transform: translate(-50%,-50%);
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
}

#button-top {
    z-index: 5;
    position: absolute;
    left: 50%;
    top: calc(50vh - 150px);
    transform: translate(-50%,-50%);
    width: 340px;
    height: 120px;
    background-color: #de9f2a;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#points{
    user-select: none;
    font-size: 4rem;
    font-family: "Concert One", sans-serif;
    color: white;
    perspective: 100px;
    transform: rotateX(30deg);
    white-space: nowrap;
}

#button-bottom {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: calc(50vh - 130px);
    transform: translate(-50%,-50%);
    width: 340px;
    height: 120px;
    background-color: #cb8c18;
    border-radius: 35px;
}

.click {animation: clicked 0.5s;}

@keyframes clicked {
    0%{top: calc(50vh - 150px);}
    50%{top: calc(50vh - 130px);}
    100%{top: calc(50vh - 150px);}
}

#amount, #rarity {
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 80px;
    clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0 100%, 15% 50%, 0 0);
}

#rarity {
    top: calc(50vh + 110px);
}

.amountContainer, .rarityContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.amountContainer p {
    width: 50px;
}

.rarityContainer p {
    width: 150px;
}

#amountText, #rarityText {
    position: absolute;
    left: 37.5%;
    top: -50%;
    transform: translate(var(--transform-x),-50%);
    font-size: 3rem;
    width: auto;
    z-index: 3;
    font-family: "Concert One", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    gap: 120px;
    transition: transform 1s;
}

#rarityText {
    font-size: 1.7rem;
    left: 12.5%;
    gap: 120px;
    transform: translate(var(--transform-x2),-50%);
}

#arrowRight, #arrowLeft, #arrowRight2, #arrowLeft2 {
    position: absolute;
    top: 50vh;
    transform: translate(-50%,-50%);
    z-index: 6;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cb8c18;
    border-radius: 50%;
}

#arrowRight2, #arrowLeft2 {
    top: calc(50vh + 110px);
}

#arrowLeft, #arrowLeft2 {
    left: calc(50% - 150px);
}

#arrowRight, #arrowRight2 {
    left: calc(50% + 150px);
}

#arrowRight:hover, #arrowLeft:hover, #arrowRight2:hover, #arrowLeft2:hover {
    background-color: #F4B02E;
}

.unusable {
    box-shadow: 0 0 3rem gray inset;
}

.stripes {
    background-size: 18px 18px;
    background-image: linear-gradient(
      -45deg,
      rgb(var(--primary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 100%
    );
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3rem black inset;
    animation: move 16s infinite linear;
}

@keyframes move {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

#price, #coins, #catsAmount {
    position: absolute;
    left: 50%;
    top: calc(50% + 210px);
    transform: translate(-50%,-50%);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Concert One", sans-serif;
    font-style: normal;
    text-align: center;
    height: 50px;
    background-color: #DC981A;
    border-radius: 15px;
    padding: 5px;
}

#price img, #coins img {
    width: 50px;
    height: 50px;
}

#coins, #catsAmount {
    position: static;
    transform: translate(0,0);
    background-color: #2e2e2e;
    margin-top: 20px;
    color: white;
    font-weight: normal;
}

#coins p, #catsAmount p {
    margin: 0;
}

#catsAmount svg {
    fill: white;
}

#points.notEnoughtCoins {
    color: red;
    font-size: 3rem;
    white-space: normal;
    text-align: center;
}

.lootbox-container {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 35px;
    padding-bottom: 35px;
    z-index: 10;
    background-color: #000000c1;
    transform: translateX(100%);
    animation: showUp 0.8s ease-in-out forwards;
}

@keyframes showUp {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.box {
    position: absolute;
    width: 130px;
    height: 100px;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: "Concert One", sans-serif;
    color: #fff;
    box-shadow: inset 0px -100px 100px -90px var(--color);
    background-image: radial-gradient(rgb(142, 142, 142), #00000000);
}


.box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 7px;
    background-color: var(--color);
}

.box img {
    height: 90%;
    aspect-ratio: 1/1;
    transform: translateY(-3%);
}

.pointer {
    position: absolute;
    left: 50%;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: yellow;
    z-index: 5;
    animation: pointerShowUp 2s ease-in-out forwards;
}

@keyframes pointerShowUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#lootboxesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.hiddenCatColors {
    --cat-color: 0 0 0;
    --first-paw-color: 0 0 0;
    --second-paw-color: 0 0 0;
    --third-paw-color: 0 0 0;
    --forth-paw-color: 0 0 0;
    --tail-color: 0 0 0;
    --belly-color: 0 0 0;
    --tounge-color: 0 0 0;
    --tounge-line-color: 0 0 0;
    --pattern-color: 0 0 0;
    --stripe-color: 0 0 0;
    --bowTie-color: 0 0 0;
}

.black-body {--cat-color: 33 33 33;}
.white-body {--cat-color: 256 256 256;}
.gray-body {--cat-color: 128 128 128;}
.peach-body {--cat-color: 256 240 200;}
.orange-body {--cat-color: 256 140 10;}
.orangeYellow-body {--cat-color: 240 200 50;}
.brown-body {--cat-color: 120 85 70;}
.grayBlue-body {--cat-color: 145 165 175;}
.blue-body {--cat-color: 12 90 220;}
.lightBlue-body {--cat-color: 65 180 225;}
.red-body {--cat-color: 240 40 30;}
.purple-body {--cat-color: 100 50 215;}
.darkBlue-body {--cat-color: 60 80 150;}
.darkRed-body {--cat-color: 180 50 0;}
.darkGreen-body {--cat-color: 60 140 40;}
.cyan-body {--cat-color: 70 160 160;}
.green-body {--cat-color: 40 210 30;}
.pink-body {--cat-color: 240 105 165;}
.pinkRed-body {--cat-color: 230 90 100;}
.pinkPurple-body {--cat-color: 220 60 200;}

.catContainer {
    --first-paw-color: var(--cat-color);
    --second-paw-color: var(--cat-color);
    --third-paw-color: var(--cat-color);
    --forth-paw-color: var(--cat-color);
    --tail-color: var(--cat-color);
    --belly-color: var(--cat-color);
    --tounge-color: var(--cat-color);
    --tounge-line-color: var(--cat-color);
    --pattern-color: var(--cat-color);
    --stripe-color: var(--cat-color);
    --bowTie-color: var(--cat-color);
}

.black-stripe {--stripe-color: 22 22 22;}
.white-stripe {--stripe-color: 256 256 256;}
.gray-stripe {--stripe-color: 100 100 100;}
.orange-stripe {--stripe-color: 236 130 0;}
.brown-stripe {--stripe-color: 110 75 60;}
.blue-stripe {--stripe-color: 22 100 230;}
.red-stripe {--stripe-color: 230 30 20;}
.green-stripe {--stripe-color: 30 200 20;}
.pink-stripe {--stripe-color: 230 50 190;}

.black-pattern {--pattern-color: 33 33 33;}
.white-pattern {--pattern-color: 256 256 256;}
.gray-pattern {--pattern-color: 140 140 140;}

.firstPaw {--first-paw-color: var(--paws-color);}
.secondPaw {--second-paw-color: var(--paws-color);}
.thirdPaw {--third-paw-color: var(--paws-color);}
.forthPaw {--forth-paw-color: var(--paws-color);}

.whiteTail {--tail-color: var(--paws-color);}

.whiteMouth {--mouth-color: 256 256 256;}
/* .blackMouth {--mouth-color: 0 0 0;} */

.whiteBelly {--belly-color: 256 256 256;}

.black-bowTie {--bowTie-color: 0 0 0;}
.white-bowTie {--bowTie-color: 240 240 240;}
.stripe-bowTie {--bowTie-color: var(--stripe-color);}
.catContainer.black-bowTie .cat .catBottom .bowTie, .catContainer.white-bowTie .cat .catBottom .bowTie {z-index: 99;}

.withTounge {
    --tounge-color: 255 35 95;
    --tounge-line-color: 205 25 70;
}

.catClone {--width: 12vmin;}

.catContainer {
    /* --width: 30vw; */
    width: var(--width);
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: row;
    position: absolute;
    /* left: 50%;
    top: 50vh;
    z-index: 99999; */
    transform: translate(-50%,-50%);
}

.cat {
    width: 70%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.catTop {
    width: 100%;
    height: 36%;
    background-color: rgb(var(--cat-color));
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: relative;
    overflow: hidden;
}

.headSpot {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 40%;
    background-color: rgb(var(--pattern-color));
    border-radius: 50%;
}

.earLeft, .earRight, .innerEarLeft, .innerEarRight {
    position: absolute;
    left: 20%;
    top: -7%;
    background-color: rgb(var(--cat-color));
    width: 20%;
    height: 15%;
    clip-path: polygon(20% 1%, 0% 100%, 100% 100%);
}

.earRight, .innerEarRight{
    left: 60%;
    clip-path: polygon(80% 1%, 0% 100%, 100% 100%);
}

.innerEarLeft, .innerEarRight {
    background-color: black;
    opacity: 25%;
    clip-path: polygon(16% 23%, 0% 100%, 75% 100%);
}

.innerEarRight {
    clip-path: polygon(83% 23%, 25% 100%, 100% 100%);
}

.mouthLeft, .mouthRight {
    position: absolute;
    left: 41%;
    top: 65%;
    width: 14%;
    height: 14%;
    border: solid rgb(var(--mouth-color));
    border-width: calc(var(--width)*0.03);
    border-top: none;
    border-radius: 0 0 100px 100px;
    transform: rotate(-10deg) translateX(-50%);
    transform-origin: top left;
    /* overflow: hidden; */
}

.mouthRight {
    left: 59%;
    transform: rotate(10deg) translateX(-50%);
}

.dotContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.mouthRightDot, .mouthLeftDot {
    width: calc(var(--width)*0.025);
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    transform: translate(0,-50%);
    background-color: rgb(var(--mouth-color));
    border-radius: 50%;
}

.mouthLeftDot {
    left: -25%;
}

.mouthRightDot {
    right: -25%;
}

.nose, .eyeLeft, .eyeRight {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    width: 8%;
    aspect-ratio: 4/3;
    background-color: rgb(var(--mouth-color));
    border-radius: 50%;
}

.eyeLeft, .eyeRight {
    width: 9%;
    top: 45%;
    aspect-ratio: 6/5;
    background-color: rgb(var(--mouth-color));
}

.eyeLeft {
    left: 35%;
}

.eyeRight {
    left: 65%;
}

.tounge {
    position: absolute;
    left: 50%;
    top: 87%;
    transform: translate(-50%,-50%);
    height: 20%;
    width: 9%;
    background-color: rgb(var(--tounge-color));
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
}

.toungeLine {
    width: 20%;
    height: 70%;
    background-color: rgb(var(--tounge-line-color));
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.catBottom {
    width: 100%;
    height: 46%;
    background: rgb(var(--cat-color));
    display: flex;
    align-items: flex-end;
    position: relative;
}

.bowTie {
    clip-path: polygon(50% 40%, 100% 25%, 100% 75%, 50% 60%, 0% 75%, 0% 25%);
    position: absolute;
    left: 50%;
    top: 3.5%;
    transform: translate(-50%,-50%);
    background-color: rgb(var(--bowTie-color));
    width: 25%;
    height: 45%;
}

.stripe {
    width: 100%;
    height: 8%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(var(--stripe-color));
    z-index: 98;
}

.belly {
    margin-left: 18.5%;
    width: 38.5%;
    height: 60%;
    background-color: rgb(var(--belly-color));
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.catLegs {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;
}

.rightLegs, .leftLegs {
    width: 43%;
    display: flex;
    justify-content: space-between;
}

.leg {
    width: 43%;
    height: 100%;
    background: linear-gradient(to top, rgb(var(--paws-color)) 35%, rgb(var(--cat-color)) 0);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
}

.firstLeg {background: linear-gradient(to top, rgb(var(--first-paw-color)) 35%, rgb(var(--cat-color)) 0);}
.secondLeg {background: linear-gradient(to top, rgb(var(--second-paw-color)) 35%, rgb(var(--cat-color)) 0);}
.thirdLeg {background: linear-gradient(to top, rgb(var(--third-paw-color)) 35%, rgb(var(--cat-color)) 0);}
.forthLeg {background: linear-gradient(to top, rgb(var(--forth-paw-color)) 35%, rgb(var(--cat-color)) 0);}

.backLeg {
    position: absolute;
    left: 0;
    top: 0;
    height: 15%;
    width: 100%;
    background-color: black;
    opacity: 25%;
}

.frontLeg {
    position: absolute;
    left: 0;
    top: 0;
    height: 2%;
    width: 100%;
    background-color: black;
    opacity: 5%;
}

.tail {
    flex: 1;
    height: 50%;
    margin-top: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bottomTail {
    height: 30%;
    width: calc(var(--width) * 0.3);
    display: flex;
    align-items: flex-end;
}

.tail2 {
    height: calc(100% - (var(--width) * 0.3 * 0.09));
    width: 30%;
    background-color: rgb(var(--cat-color));
    position: relative;
}

.tailDark {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 30%;
    background-color: black;
    opacity: 25%;
}

.tail3 {
    height: 100%;
    width: 50%;
    background-color: rgb(var(--cat-color));
    border-bottom-right-radius: 100%;
    -webkit-mask: radial-gradient(circle at 0 0, transparent calc(var(--width) * 0.3 * 0.09), black calc(var(--width) * 0.3 * 0.09));
    mask: radial-gradient(circle at 0 0, transparent calc(var(--width) * 0.3 * 0.09), black calc(var(--width) * 0.3 * 0.09));
}

.tail1 {
    height: 70%;
    width: calc(50% - (var(--width) * 0.3 * 0.09));
    background: linear-gradient(to bottom, rgb(var(--tail-color)) 15%, rgb(var(--cat-color)) 0);
    margin-right: 20%;
    border-top-right-radius: 5vw;
    border-top-left-radius: 5vw;
}

.hidden {
    display: none;
}

.catAnimation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-100%);
    height: 50svh;
    width: 30vmin;
    z-index: 100;
    /* border: 2px solid black; */
}

.video, .overlay {
    position: absolute;
    left: 50%;
    top: 50svh;
    transform: translate(-50%,-50%);
    width: 100vmin;
    aspect-ratio: 1/1;
    z-index: 1;
}

.overlay {
    z-index: 3;
    pointer-events: none;
}

.overlay img {
    width: 100%;
    height: 100%;
}

.dissapear {
    animation: dissapear 0.8s ease-in-out forwards;
    z-index: 15;
    transform: translateX(0);
}

@keyframes dissapear {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.catClone {
    position: absolute;
    width: 12vmin;
    --width: 12vmin;
    height: 12vmin;
    transform: translate(-50%,-50%);
    animation: cloneRotate 3s infinite linear;
    z-index: 2;
}

@keyframes cloneRotate {
    from {
        transform: translate(-50%, -50%) rotate(calc(var(--angle) * var(--side)));
    }
    to {
        transform: translate(-50%, -50%) rotate(calc(360deg * var(--side)));
    }
}
.catContainer {
    width: var(--width);
}

.clonesContainer {
    position: relative;
    top: 0;
    left: 2%;
    width: 100%;
    height: 80vh;
    /* border: 3px solid black; */
}

.hiddenCat {
    position: fixed;
    left: 65%;
    animation: catRotate 4s forwards ease-in;
    width: 12vmin;
    --width: 12vmin;
    height: 12vmin;
    z-index: 2;
    transform: translate(-50%,-50%);
    filter: drop-shadow(0 0 10px);
}

@keyframes catRotate {
    from {
        transform: translate(-50%, -50%) rotate(var(--angle));
    }
    to {
        transform: translate(-50%, -50%) rotate(720deg);
    }
}

.questionMark {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-50%);
    font-size: 7vmin;
    z-index: 100;
    font-family: sans-serif;
    user-select: none;
}

.hiddenCatAnim {
    animation: hiddenCatAnim 2s forwards ease-out;
    z-index: 5;
    transform-origin: center;
}

.hiddenCatScale {
    transform: translate(-50%,-50%) scale(1);
    width: var(--scale-width);
    height: var(--scale-width);
    --width: var(--scale-width);
}

@keyframes hiddenCatAnim {
    from {
        transform: translate(-50%,-50%) rotate(var(--rotation));
        top: var(--top);
    }
    to {
        transform: translate(-50%,-50%) rotate(calc(360deg)) scale(5);
        top: 50svh;
    }
}

.backgroundCircle {
    width: 90vmin;
    aspect-ratio: 1/1;
    background-color: rgb(var(--circle-color));
    position: absolute;
    left: 50%;
    top: 50svh;
    transform: translate(-50%,-50%);
    z-index: 4;
    border-radius: 50%;
    border: rgb(var(--border-color)) 4.5vmin solid;
    display: none;
    filter: drop-shadow(0 0 10px);
}

.backgroundCircleAnim {
    animation: circleShowUp 2s forwards ease-out;
    display: block;
}

@keyframes circleShowUp {
    from {
        transform: translate(-50%,-50%) scale(0);
    }
    to {
        transform: translate(-50%,-50%) scale(1);
    }
}

.hiddenCatBlack {
    filter: drop-shadow(0 0 20px gray);
}