:root {
    --primary-stripe-rgb: 230 230 230;
    --secondary-stripe-rgb: 240 240 240;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* height: 100vh; */
}

.grad1 {
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(#DC981A, #F4B02E);
    width: 100%;
    opacity: 0.8; 
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.catPattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/cat-pattern.png');
    background-repeat: repeat;
    animation: move 180s infinite linear;
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
}

.grad2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#00000000, #DC981A);
    pointer-events: none;
    z-index: 1;
}

.title {
    font-size: 12vmin;
    width: 100%;
    z-index: 3;
    font-family: "Concert One", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    background-image: none;
    position: absolute;
    top: 0;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pContainer p {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      -45deg,
      rgb(var(--primary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 100%
    );
    animation: move 18s linear infinite;
    background-size: 100px 100px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* text-shadow: 
      1px 1px 2px rgba(255, 255, 255, 0.1),
      -1px -1px 2px rgba(0, 0, 0, 0.1); */
}

#stripe-container {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0px;
    translate: -50% 0%;
    height: 28vh;
    min-height: 240px;
    width: 100%;
    min-width: 2000px;
    background-color: rgb(var(--stripe-primary-rgb));
}

#stripe-pattern {
    height: 100%;
    width: 100%;
    background-size: 18px 18px;
    background-image: linear-gradient(
      -45deg,
      rgb(var(--primary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 100%
    );
    box-shadow: inset 0rem 0.5rem 2rem 0.25rem rgb(0 0 0 / 40%);
    animation: move 360s linear infinite;
}

#inventory {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 85vh;
    background-color: rgb(60, 60, 60);
    z-index: 10;
    transition: transform 1s;
    border-radius: 20px;
}

.jumpUp {
    animation: jumpUp var(--precent) forwards;
}

@keyframes jumpUp {
    from {
        top: var(--top);
    }
    to {
        top: 5vh;
    }
}

.jumpDown {
    animation: jumpDown var(--precent) forwards;
}

@keyframes jumpDown {
    from {
        top: var(--top);
    }
    to {
        top: 85vh;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#inventory i {
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translate(-50%,-50%) scaleX(2);
    color: white;
}

.bump {
    position: absolute;
    left: 50%;
    top: 1%;
    width: 100px;
    height: 50px;
    transform: translate(-50%,-50%);
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
}

#button-top {
    z-index: 5;
    position: absolute;
    left: 50%;
    top: calc(50vh - 150px);
    transform: translate(-50%,-50%);
    width: 340px;
    height: 120px;
    background-color: #de9f2a;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#points{
    user-select: none;
    font-size: 4rem;
    font-family: "Concert One", sans-serif;
    color: white;
    perspective: 100px;
    transform: rotateX(30deg);
    white-space: nowrap;
}

#button-bottom {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: calc(50vh - 130px);
    transform: translate(-50%,-50%);
    width: 340px;
    height: 120px;
    background-color: #cb8c18;
    border-radius: 35px;
}

.click {animation: clicked 0.5s;}

@keyframes clicked {
    0%{top: calc(50vh - 150px);}
    50%{top: calc(50vh - 130px);}
    100%{top: calc(50vh - 150px);}
}

#amount, #rarity {
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 80px;
    clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0 100%, 15% 50%, 0 0);
}

#rarity {
    top: calc(50vh + 110px);
}

.amountContainer, .rarityContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.amountContainer p {
    width: 50px;
}

.rarityContainer p {
    width: 150px;
}

#amountText, #rarityText {
    position: absolute;
    left: 37.5%;
    top: -50%;
    transform: translate(var(--transform-x),-50%);
    font-size: 3rem;
    width: auto;
    z-index: 3;
    font-family: "Concert One", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    gap: 120px;
    transition: transform 1s;
}

#rarityText {
    font-size: 1.7rem;
    left: 12.5%;
    gap: 120px;
    transform: translate(var(--transform-x2),-50%);
}

#arrowRight, #arrowLeft, #arrowRight2, #arrowLeft2 {
    position: absolute;
    top: 50vh;
    transform: translate(-50%,-50%);
    z-index: 6;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cb8c18;
    border-radius: 50%;
}

#arrowRight2, #arrowLeft2 {
    top: calc(50vh + 110px);
}

#arrowLeft, #arrowLeft2 {
    left: calc(50% - 150px);
}

#arrowRight, #arrowRight2 {
    left: calc(50% + 150px);
}

#arrowRight:hover, #arrowLeft:hover, #arrowRight2:hover, #arrowLeft2:hover {
    background-color: #F4B02E;
}

.unusable {
    box-shadow: 0 0 3rem gray inset;
}

.stripes {
    background-size: 18px 18px;
    background-image: linear-gradient(
      -45deg,
      rgb(var(--primary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 100%
    );
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3rem black inset;
    animation: move 16s infinite linear;
}

@keyframes move {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

#price {
    position: absolute;
    left: 50%;
    top: calc(50% + 210px);
    transform: translate(-50%,-50%);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Concert One", sans-serif;
    font-style: normal;
    text-align: center;
    height: 50px;
    background-color: #DC981A;
    border-radius: 15px;
    padding: 5px;
}

#price img {
    width: 50px;
    height: 50px;
}